<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EricC - {% block title %}{% endblock %}</title>
	<!-- THANK YOU MATHJAX! -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	
	<!-- using the includes to cheat the css syntax -->
	{% include 'styles/style_start.html' %}
	<!-- import the css files needed / all of them -->
	{% include 'styles/global.css' %}
	{% include 'styles/nav.css' %}
	{% include 'styles/content.css' %}
	{% include 'styles/footer.css' %}
	
	{% include 'styles/style_end.html' %}
</head>

<body>
	<!-- below code is for the nav bar and whatever else put on it -->
	{% include 'nav/nav.html' %}
	<!-- other content for the page -->
	<div class="page_content">
		{% block content %}
		{% endblock %}
	</div>
	<!-- global footer that will be put at the bottom of page -->
	{% include 'footer/foot.html' %}
</body>
</html>
