{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block page_title %}
Home
{% endblock %}


{% block content %}
<div class="spacer"></div>
<div class="section_box">
	<div class="sec_titl">
		Welcome
	</div>
</div>
<div class="separator"></div>
<div class="section_box">

	<div class="sec_titl">
		News/Updates
	</div>
</div>
<div class="separator"></div>

<div class="section_box">
	<div class="sec_titl">
		Articles/posts
	</div>
</div>
<div class="separator"></div>

{% endblock %}


{% include 'test_text.html' %}
