{% extends 'base.html' %}

{% block title %}
Education
{% endblock %}

{% block page_title %}
Education
{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="section_box">
	<div class="sec_titl">
		Physics
	</div>
</div>
<div class="separator"></div>
<div class="section_box">
	<div class="sec_titl">
		Maths
	</div>
</div>
<div class="separator"></div>
<div class="section_box">
	<div class="sec_titl">
		LaTex
	</div>
</div>
<div class="separator"></div>
<div class="section_box">
	<div class="sec_titl">
		Chem
	</div>
</div>
<div class="separator"></div>
<div class="section_box">
	<div class="sec_titl">
		Other
	</div>
</div>
<div class="separator"></div>

{% endblock %}



{% include 'test_text.html' %}
