{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block page_title %}
Home
{% endblock %}


{% block content %}
<div class="spacer"></div>
<div class="section_box">
	{% include 'home/welcome.html' %}
</div>
<div class="separator"></div>
<div class="section_box">
	{% include 'home/news_updt.html' %}
</div>
<div class="separator"></div>
<div class="section_box">
	{% include 'home/posts_arts.html' %}
</div>
<div class="separator"></div>

{% endblock %}


{% include 'test_text.html' %}
