<div>
	{% url 'home' as home_url %}
	<span>
		{% if request.path == home_url %}
		Home
		{% else %}
		<a href="{{ home_url }}">
			Home
		</a>
		{% endif %}
	</span>

	{% url 'projects' as projects_url %}
	<span>
		{% if request.path == projects_url %}
		Projects
		{% else %}
		<a href="{{ projects_url }}">
			Projects
		</a>
		{% endif %}
	</span>
	
	{% url 'notes' as notes_url %}
	<span>
		{% if request.path == notes_url %}
		Notes
		{% else %}
		<a href="{{ notes_url }}">
			Notes
		</a>
		{% endif %}
	</span>
	
	{% url 'about' as about_url %}
	<span>
		{% if request.path == about_url %}
		About
		{% else %}
		<a href="{{ about_url }}">
			About
		</a>
		{% endif %}
	</span>
	 
	<span style="float:right;">
		{% if user.is_authenticated %}
			{% url 'profile' as profile_url %}			
			<span>
				User: {% if request.path == profile_url %}{{user.username}}{% else %}<a href="{{ profile_url }}">{{ user.username }}</a>{% endif %},
			</span>
			<span>
				<a href="{% url 'logout' %}">
					Logout
				</a>
			</span>
		{% else %}
			<span>
				<a href="{% url 'login' %}">
					Login
				</a>
			</span>
		{% endif %}
	</span>

</div>