.page_content {
	position: relative;
	top: 48pt;
	background-color: var(--light);
	color: var(--dark);
	margin-left: 10%;
	margin-right: 10%;
	padding: 16pt;
	height: auto;
	width: auto;

	overflow-wrap: break-word;
	z-index: 5;
	box-shadow: 0pt 0pt 4pt 4pt var(--light);
}