:root {
	--main_font_sz: 12pt;
	--link_font_sz: 14pt;
	--titl_font_sz: 16pt;
	--titl_font_wt: 800;
	--dark: rgba(17, 15, 20, 1.0);
	--light: rgba(220, 220, 220, 1.0);
	--dark_top_bar: rgba(17, 15, 20, 0.975);
	--dark_bar_fade: rgba(17, 15, 20, 0.985);

	--test_col: rgba(22, 20, 25, 1.0);
}

.page_content {
	position: relative;
	top: 48pt;
	background-color: var(--light);
	color: var(--dark);
	margin-left: 10%;
	margin-right: 10%;
	padding: 16pt;
	height: auto;
	width: auto;

	overflow-wrap: break-word;
	z-index: 5;
	box-shadow: 0pt 0pt 4pt 4pt var(--light);
}