:root {
	--main_font_sz: 12pt;
	--link_font_sz: 14pt;

	--titl_font_sz: 18pt;
	--titl_font_wt: 800;

	--foot_titl_sz: 12pt;
	--foot_titl_wt: 800;
	--foot_cont_sz: 10pt;
	--foot_subcont_sz: 10pt;

	--dark: rgba(17, 15, 20, 1.0);
	--light: rgba(220, 220, 220, 1.0);
	--dark_top_bar: rgba(17, 15, 20, 0.945);
	--dark_bar_fade: rgba(17, 15, 20, 0.955);

	--drop_shadow: rgba(17, 15, 20, 0.95);

	--test_col: rgba(90, 90, 90, 1.0);
}

/* SEARCH FIELD */
.search_field {
	font-size: var(--main_font_sz);
	box-shadow: 0pt 0pt 1pt 0pt var(--dark);
	background-color: rgba(240, 240, 240, 1.0);
	color: var(--dark);
	padding: 2pt;
	border-radius: 2pt;
	width: auto;
}
.search_note {
	font-size: var(--main_font_sz);
	color: var(--dark);
	padding-left: 2pt;
}

/* CLEAR BTN */
.clear_btn {
	font-size: var(--main_font_sz);
	color: var(--dark);
	background-color: var(--light);	
	box-shadow: 0pt 0pt 1pt 1pt var(--dark);
	padding: 2pt;
	border-color: rgba(0, 0, 0, 0);
	transition: 125ms linear 0s;
	border-radius: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
}
.clear_btn:hover {
	color: var(--light);
	background-color: var(--dark);
	transition: 75ms linear 0s;
}
.clear_btn:active {
	box-shadow: 0pt 0pt 2pt 1pt rgba(240, 240, 240, 1.0);
	text-shadow: 0pt 0pt 1pt rgba(240, 240, 240, 1.0);
	color: rgba(240, 240, 240, 1.0);
}

/* RESULTS */

.search_results {
	font-size: var(--main_font_sz);
	color: var(--dark);
}
.result_wrapper {

}
/* box stuff */
.result_box {
	width: 160pt;
	height: 128pt;
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: var(--dark);
	border-radius: 8pt;
	padding: 8pt;
	box-shadow: 0pt 0pt 1pt 1pt var(--dark);
	background-color: rgba(240, 240, 240, 1.0);
	margin: auto;
	margin-top: 8pt;
	margin-bottom: 8pt;
}
.box_result_id {

}
.box_result_name {

}
.box_result_eqn {

}
.box_result_view  {

}
/* list stuff */
.result_line {
	border-width: 1px;
	border-color: var(--dark);
	border-style: none none solid none;
	margin-top: 2pt;
	margin-bottom: 2pt;
}
.line_result_id {

}
.line_result_name {
}
.line_result_eqn {
}
.line_result_view  {
}
.view_link {

}

/* SEARCH TYPE */
.name_search {
	font-size: var(--main_font_sz);
	color: var(--dark);
	background-color: var(--light);	
	box-shadow: 0pt 0pt 1pt 1pt var(--dark);
	padding: 2pt;
	border-color: rgba(0, 0, 0, 0);
	transition: 125ms linear 0s;
	border-radius: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
}
.var_search {
	font-size: var(--main_font_sz);
	color: var(--dark);
	background-color: var(--light);	
	box-shadow: 0pt 0pt 1pt 1pt var(--dark);
	padding: 2pt;
	border-color: rgba(0, 0, 0, 0);
	transition: 125ms linear 0s;
	border-radius: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
}
.list_view {
	font-size: var(--main_font_sz);
	color: var(--dark);
	background-color: var(--light);	
	box-shadow: 0pt 0pt 1pt 1pt var(--dark);
	padding: 2pt;
	border-color: rgba(0, 0, 0, 0);
	transition: 125ms linear 0s;
	border-radius: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
}
.box_view {
	font-size: var(--main_font_sz);
	color: var(--dark);
	background-color: var(--light);	
	box-shadow: 0pt 0pt 1pt 1pt var(--dark);
	padding: 2pt;
	border-color: rgba(0, 0, 0, 0);
	transition: 125ms linear 0s;
	border-radius: 2pt;
	margin-left: 1pt;
	margin-right: 1pt;
}

/* TEST */
.test_box {
	width: 160pt;
	height: 128pt;
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: var(--dark);
	border-radius: 8pt;
	padding: 8pt;
	box-shadow: 0pt 0pt 1pt 1pt var(--dark);
	background-color: rgba(240, 240, 240, 1.0);
	margin: auto;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

.nw_block {
	white-space: nowrap;
}

/* SEPARATORS */
.vert_sep {
	border-color: var(--dark);
	border-width: 2px;
	border-style: none solid none none;
	margin-left: 4pt;
	margin-right: 4pt;
}

.right {
}

.left {

}
