:root {
	--main_font_sz: 12pt;
	--link_font_sz: 14pt;

	--titl_font_sz: 16pt;
	--titl_font_wt: 800;

	--foot_titl_sz: 12pt;
	--foot_titl_wt: 800;
	--foot_cont_sz: 10pt;

	--dark: rgba(17, 15, 20, 1.0);
	--light: rgba(220, 220, 220, 1.0);
	--dark_top_bar: rgba(17, 15, 20, 0.945);
	--dark_bar_fade: rgba(17, 15, 20, 0.955);

	--test_col: rgba(90, 90, 90, 1.0);
}

body {
	font-family: sans-serif;
	/* font-size: var(--main_font_sz); */
	background-color: var(--dark);
	color: var(--light);
}

.page_content {
	font-size: var(--main_font_sz);

	position: relative;
	top: 48pt;
	background-color: var(--light);
	color: var(--dark);
	margin-left: 10%;
	margin-right: 10%;
	padding: 16pt;
	height: auto;
	width: auto;

	overflow-wrap: break-word;
	z-index: 5;
	box-shadow: 0pt 0pt 4pt 4pt var(--light);
}

.page_title {
	padding: 16pt;
	z-index: 10;
	position: fixed;
	float:  left;
	font-size: var(--titl_font_sz);
	font-weight: var(--titl_font_wt);
}