:root {
	--main_font_sz: 12pt;
	--link_font_sz: 14pt;
	--titl_font_sz: 16pt;
	--titl_font_wt: 800;
	--dark: rgba(17, 15, 20, 1.0);
	--light: rgba(220, 220, 220, 1.0);
	--dark_top_bar: rgba(17, 15, 20, 0.975);
	--dark_bar_fade: rgba(17, 15, 20, 0.985);

	--test_col: rgba(22, 20, 25, 1.0);
}

body {
	font-family: sans-serif;
	font-size: var(--main_font_sz);
	background-color: var(--dark);
	color: var(--light);
}
t {
	font-size: var(--titl_font_sz);
	font-weight: var(--titl_font_wt);
}
p_f {
	text-decoration: underline;
	color: var(--light);
}
