:root {
	--main_font_sz: 12pt;
	--link_font_sz: 14pt;
	--titl_font_sz: 16pt;
	--titl_font_wt: 800;
	--dark: rgba(17, 15, 20, 1.0);
	--light: rgba(225, 225, 225, 1.0);
	--dark_top_bar: rgba(17, 15, 20, 0.975);
	--dark_bar_fade: rgba(17, 15, 20, 0.98);
}
body {
	font-family: sans-serif;
	font-size: var(--main_font_sz);
	background-color: var(--dark);
	color: var(--light);
}
t {
	font-size: var(--titl_font_sz);
	font-weight: var(--titl_font_wt);
}
p_f {
	text-decoration: underline;
	color: var(--light);
}
a {
	text-decoration: none;
	color: var(--light);
}
a:hover {
	text-decoration: dotted underline;
	color: var(--light);
	cursor: pointer;
	text-shadow: 0pt 0pt 3pt var(--light);
}

.link_btn {
	padding-left: 2pt;
	font-size: var(--link_font_sz);
}

.links {
	float: right;
}
.title {
	float:  left;
}

.bar {
	top: 0;
	left: 0;
	position: fixed;
	width: 96%;
	height: 16pt;
	background-color: var(--dark_top_bar);
	padding-top: 16pt;
	padding-bottom: 16pt;
	margin-left: 2%;
	margin-right: 2%;
	box-shadow: 0pt 0pt 20pt 20pt var(--dark_bar_fade);
	z-index: 9;
	-webkit-backdrop-filter: blur(4pt);
	backdrop-filter: blur(4pt);
}
.bar_txt {
	width: inherit;
	height: inherit;
}

.page_content {
	position: absolute;
	top: 64pt;
	background-color: var(--light);
	color: var(--dark);
	margin-left: 10%;
	margin-right: 10%;
	padding: 16pt;
	height: auto;
	width: auto;
	max-width: 80%;

	overflow-wrap: break-word;
	z-index: 5;
	box-shadow: 0pt 0pt 4pt 4pt var(--light);
}