:root {
	--main_font_sz: 12pt;
	--link_font_sz: 14pt;

	--titl_font_sz: 16pt;
	--titl_font_wt: 800;

	--foot_titl_sz: 12pt;
	--foot_titl_wt: 800;
	--foot_cont_sz: 10pt;

	--dark: rgba(17, 15, 20, 1.0);
	--light: rgba(220, 220, 220, 1.0);
	--dark_top_bar: rgba(17, 15, 20, 0.945);
	--dark_bar_fade: rgba(17, 15, 20, 0.955);

	--drop_shadow: rgba(17, 15, 20, 0.1);

	--test_col: rgba(90, 90, 90, 1.0);
}


t {
	font-size: var(--titl_font_sz);
	font-weight: var(--titl_font_wt);
}
p_f {
	font-size: var(--link_font_sz);
	text-decoration: underline;
	color: var(--light);
}


.link_btn {
	font-size: var(--link_font_sz);
	padding: 2pt;
	margin: 2pt;
}

.page_link {
	text-decoration: none;
	color: var(--light);
	-webkit-transition: 125ms linear 0s;
	-moz-transition: 125ms linear 0s;
	-o-transition: 125ms linear 0s;
	transition: 125ms linear 0s;
}

.page_link:hover {
	text-decoration: dotted underline;
	color: var(--light);
	/* cursor: pointer; */
	text-shadow: 0pt 0pt 1pt var(--light);
}

.menu {
	border: none;
	font-size: var(--titl_font_sz);
	background-color: rgba(0, 0, 0, 0);
	color: var(--light);
	-webkit-transition: 125ms linear 0s;
	-moz-transition: 125ms linear 0s;
	-o-transition: 125ms linear 0s;
	transition: 125ms linear 0s;
}

.drop {
	float: right;
	position: relative;
	display: inline-block;
	top: -8pt;
	left:  -32pt;
}

.page_links {
	position: relative;
	left: -8pt;
	display: none;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: -1pt 1pt 2pt 2pt inset var(--dark_top_bar);
	box-shadow: -1pt 1pt 1pt var(--drop_shadow);
	z-index: 10;
	padding: 8pt;
	height: auto;
}

.menu:hover {
	text-shadow: 0pt 0pt 1pt var(--light);
	text-decoration: underline;
}

.drop:hover .page_links {
	display: block;
	width: 24pt;
	height: auto;
}

.bar {
	top: 0;
	left: 0;
	position: fixed;
	width: 96%;
	height: 16pt;
	background-color: var(--dark_top_bar);
	padding-top: 24pt;
	padding-bottom: 16pt;
	margin-left: 2%;
	margin-right: 2%;
	box-shadow: 0pt 0pt 8pt 8pt var(--dark_bar_fade);
	z-index: 9;
}
.bar_txt {
	width: inherit;
	height: inherit;
}
