:root {
	--main_font_sz: 12pt;
	--link_font_sz: 14pt;
	--titl_font_sz: 16pt;
	--titl_font_wt: 800;
	--dark: rgba(17, 15, 20, 1.0);
	--light: rgba(220, 220, 220, 1.0);
	--dark_top_bar: rgba(17, 15, 20, 0.975);
	--dark_bar_fade: rgba(17, 15, 20, 0.985);

	--test_col: rgba(22, 20, 25, 1.0);
}

a {
	text-decoration: none;
	color: var(--light);
	-webkit-transition: 125ms linear 0s;
	-moz-transition: 125ms linear 0s;
	-o-transition: 125ms linear 0s;
	transition: 125ms linear 0s;
}

a:hover {
	text-decoration: dotted underline;
	color: var(--light);
	/* cursor: pointer; */
	text-shadow: 0pt 0pt 1pt var(--light);
}

.link_btn {
	padding-left: 2pt;
	font-size: var(--link_font_sz);
}

.page_links {
	float: right;
}
.page_title {
	float:  left;
}

.bar {
	top: 0;
	left: 0;
	position: fixed;
	width: 96%;
	height: 16pt;
	background-color: var(--dark_top_bar);
	padding-top: 24pt;
	padding-bottom: 16pt;
	margin-left: 2%;
	margin-right: 2%;
	box-shadow: 0pt 0pt 20pt 20pt var(--dark_bar_fade);
	z-index: 9;
}
.bar_txt {
	width: inherit;
	height: inherit;
}
