{% extends 'base.html' %}

{% block title %}
Eqn Search
{% endblock %}

{% block page_title %}
Equation Search
{% endblock %}

{% block content %}

{% include 'js/js_start.html' %}
	{% include 'dbs/search.js' %}
{% include 'js/js_end.html' %}

<div class="spacer"></div>
<div class="section_box">
	<div class="sec_titl">
		Search Equation Database
	</div>
	<div class="spacer"></div>
	<div>
		<span>
			<input class="search_field" id="search_field" type="text" name="search_field" placeholder="Type here..." onkeyup="update_field()">
		</span>
		<span>
			<button onclick="clear_search()" class="clear_btn">
				Clear
			</button>
		</span>
	</div>
	<div class="spacer"></div>
	<div class="search_results" >
		Results here...
	</div>
</div>
<div class="spacer"></div>

{% endblock %}