{% extends 'base.html' %}

{% block title %}
Eqn Search
{% endblock %}

{% block page_title %}
Equation Search
{% endblock %}

{% block content %}

{% include 'js/js_start.html' %}
	{% include 'dbs/search.js' %}
{% include 'js/js_end.html' %}

<div class="spacer"></div>
<div class="section_box">
	<div class="sec_titl">
		Search Equation Database
	</div>
	<div class="spacer"></div>
	<div>
		<span class="nw_block">
			<input class="search_field" id="search_field" type="text" name="search_field" placeholder="Type here..." onkeyup="update_field(); search_results();">
		</span>
		<span class="nw_block">
			<button onclick="clear_search(); search_results();" class="clear_btn">
				Clear
			</button>
		</span>
		<span class="vert_sep"></span>
		<span class="nw_block">
			Search by:
			<button onclick="search_for_name();" id="name_search" class="name_search">
				Eqn Name
			</button>
			<button onclick="search_for_var();" id="var_search" class="var_search">
				Variable
			</button>
		</span>
		<span class="vert_sep"></span>
		<span class="nw_block">
			View as:
			<button onclick="view_as_list(); search_results();" id="list_view" class="list_view">
				List
			</button>
			<button onclick="view_as_box(); search_results();" id="box_view" class="box_view">
				Box
			</button>
		</span>
	</div>
	<div class="spacer"></div>
	<div class="search_results">You can narrow down the search by: typing the name of the law or equation, typing </div>
	<div class="spacer"></div>
		<div class="search_results" id="search_results">
			<div class="result_wrapper" id="result_wrapper">
				<script type="text/javascript">
					search_for_name();
					view_as_list();
					search_results();
				</script>
			</div>
		</div>
	</div>
</div>
<div class="spacer"></div>

{% endblock %}