<div>
	{% url 'home' as home_url %}
	<span>
		{% if request.path == home_url %}Home{% else %}
		<a href="{{ home_url }}">Home</a>
		{% endif %}
	</span>	

	{% url 'about' as about_url %}
	<span>
		{% if request.path == about_url %}About{% else %}
		<a href="{{ about_url }}">About</a>
		{% endif %}
	</span>	

	{% url 'contact' as contact_url %}
	<span>
		{% if request.path == contact_url %}Contact{% else %}
		<a href="{{ contact_url }}">Contact</a>
		{% endif %}
	</span>	
	
	<!-- Stuff for login and profile links -->
	<!-- {% url 'login' as login_url %}
	{% url 'logout' as logout_url %}
	{% url 'profile' as profile_url %}
	<span style="float:right">
		{% if user.is_authenticated %}
			{% if request.path != profile_url %}
				<span>
					logged in as: <a href="{{ profile_url }}">{{ user.username }}</a>
				</span>
			{% else %}
				<span>
					logged in as: {{ user.username }}
				</span>
			{% endif %}
			<span>
				<a href="{{ logout_url }}">Logout</a>	
			</span>
		{% else %}
			<span>
				<a href="{{ login_url }}">Login</a>	
			</span>
		{% endif %}
	</span> -->
</div>