<div class="bar">
	<span class="bar_txt">
		<div class="drop"> 
			<button class="menu">
				Menu
			</button>
			<span class="page_links">
				<div class="link_btn">
					{% if request.path == '/' %}
						<p_f>Home</p_f>
					{% else %}	
						<a class="page_link" href="{{ '/' }}">Home</a>
					{% endif %}
				</div>

				<div class="link_btn">
					{% if request.path == '/education' %}
						<p_f>Education</p_f>
					{% else %}	
						<a class="page_link" href="{{ '/education' }}">Education</a>
					{% endif %}
				</div>

				<div class="link_btn">
					{% if request.path == '/projects' %}
						<p_f>Projects</p_f>
					{% else %}	
						<a class="page_link" href="{{ '/projects' }}">Projects</a>
					{% endif %}
				</div>

				<div class="link_btn">
					{% if request.path == '/about' %}
						<p_f>About</p_f>
					{% else %}
						<a class="page_link" href="{{ '/about' }}">About</a>
					{% endif %}
				</div>	
				
				<div class="link_btn">
					{% if request.path == '/contact' %}
						<p_f>Contact</p_f>
					{% else %}
						<a class="page_link" href="{{ '/contact' }}">Contact</a>
					{% endif %}
				</div>
			</span>
		</span>
	</div>
</div>